<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <!--link rel="icon" href="../../favicon.ico"-->
        <title>{% block page_title %}{% end %}</title>
        {% block page_head %}{% end %}

        <!-- Bootstrap -->
        <link rel="stylesheet" href="/static_assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static_assets/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/admin/static/css/iflux_admin_dashboard.css">
        {% block page_css %}{% end %}
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">iFlux Admin</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#">Settings</a></li>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                    <form class="navbar-form navbar-right">
                        <input type="text" class="form-control" placeholder="Search...">
                    </form>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">

                    {% for section, items in menu.iteritems() %}
                    <ul class="nav nav-sidebar">
                        <li><h3 class="sidebar-header">{{ section }}</h3></li>
                        {% for item in items %}
                        <li{% if item['url'] == request.uri%} class="active"{% end %}><a href="{{ item['url'] }}">{{ item['title'] }}</a></li>
                        {% end %}
                    </ul>
                    {% end %}
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    {% block content %}{% end %}
                </div>
            </div>
        </div>

        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/static_assets/js/jquery-2.1.3.min.js"></script>
        <script src="/static_assets/js/bootstrap.min.js"></script>
        <script src="/static_assets/js/can.custom.2.1.4.jquery.js"></script>
        <script src="/static_assets/js/i18next-1.7.7.min.js"></script>

        {% block page_js_files %}{% end %}

        {% block ejs %}{% end %}
        {% block page_js %}{% end %}
        <script src="/admin/static/js/locale.js"></script>
    </body>
</html>