<!DOCTYPE html>
<html>
    <head>
        <title>{% block page_title %}{% end %}</title>
        {% block page_head %}{% end %}

        <!-- Bootstrap -->
        <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/admin/static/css/iflux_admin.css">
        {% block page_css %}{% end %}
    </head>
    <body>
        {% block menu %}{% end %}

        <div class="container">
            {% block content %}{% end %}
        </div>
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/assets/jquery/jquery.min.js"></script>
        <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="/assets/canjs/can.jquery.min.js"></script>
        <script src="/assets/i18next/i18next.min.js"></script>

        {% block page_js_files %}{% end %}

        {% block ejs %}{% end %}
        {% block page_js %}{% end %}
        <script src="/admin/static/js/locale.js"></script>
    </body>
</html>