<!DOCTYPE html>
<html>
    <head>
        <title>Diasporapy Platform Test</title>
        {% block page_head %}{% end %}

        <script src="/vendor/steal/steal.js"
                config="/assets/stealconfig.js"
                main="@empty">
        </script>

        <script type="application/javascript">
            steal("stylesheets/base.less!");
            //steal("stylesheets/{% block page_stylesheet %}{% end %}.less!");
        </script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/static/css/diasporapy_pod.css">

        {% block page_css %}{% end %}
    </head>
    <body>
        <!-- Fixed navbar -->
        <div id="mainNavbar"></div>
        <script id='appNavbar' type='text/mustache'>
            <app-navbar>
            </app-navbar>
        </script>


        {% block menu %}{% end %}

        <div class="container">
            {% block content %}{% end %}

            <hr>

            <footer>powered by diaspora*py</footer>
        </div>
        <!-- Placed at the end of the document so the pages load faster -->
        <script type="application/javascript">
            steal("jquery", function($){steal("./bootstrap")});
            steal("./i18next", function(i18n){return i18n});
            steal("components/navbar");
        </script>
        {% block page_js_files %}{% end %}

        {% block ejs %}{% end %}
        {% block page_js %}{% end %}
        <script type="application/javascript">
            steal("./locale");
        </script>
    </body>
</html>